{{title}}<br><br>

<table>
    <tr>
        <th>Serial No'</th>
        <th>Name</th>
        <th>Checkbox</th>
        <th>Tablename</th>
        <th>Age</th>
        <th>Percentage</th>
        <th>Options</th>
    </tr>
    {{#each userList}}
    <tr style="text-align: center;">
        <td>{{@index}}</td>
        <td>{{this.name}}</td>
        <td>{{this.checkbox}}</td>
        <td>{{this.tablename}}</td>
        <td>{{this.age}}</td>
        <td>{{this.percentage}}</td>
        <td><button><a href="/edit" style="text-decoration:none;color:black;">Edit</a></button>
            <button><a href="/delete" style="text-decoration:none;color:black;">Delete</a></button>

        </td>
        </tr>
    {{/each}}
</table>


<button><a href="formm" style="text-decoration:none;color:black;">Formm Page</a></button>
{{#if serverSuccess}}
<p>{{serverSuccess}}</p>
{{/if}}

{{#if serverError}}
<p>{{serverError}}</p>
{{/if}}